# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini


# TouchDesigner
# =========================
controller/lumi.controller.*.toe
renderer/lumi.renderer.test.*.toe
lumi-output-*